.campaigns {
    background-color: white;
}
.title {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 1rem;
    background-color: var(--clr-primary-ligth);
}
.create_btn {
    width: auto;
}
@media (width<361px) {
    .title {
        flex-wrap: wrap;
    }
    .create_btn {
        width: 100%;
    }
}
