#root {
    /* max-width: 1440px;
    width: 100%;
    margin: 0 auto; */

    /* text-align: center; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main {
    padding: 0 clamp(1rem, -2rem + 13.33vw, 10rem);
    flex: 1;
    background-color: var(--clr-primary-ligth);
}
