#root {
    /* max-width: 1440px;
    width: 100%;
    margin: 0 auto; */

    /* text-align: center; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
