:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --clr-primary: #f2f4f6;
    --clr-primary-ligth: #f8f9fa;
    --clr-seconary: #6b7073;
    --clr-accent: #00aaff;

    --fs-300: 0.875rem; /* 14px */
    --fs-400: 1rem; /* 16px */
    --fs-450: 1.125rem; /* 18px */
    --fs-500: 1.5rem; /* 24px */
    --fs-600: 1.75rem; /* 28px */
    --fs-700: 2.25rem; /* 36px */
}
* {
    box-sizing: border-box;
    margin: 0;
}
a {
    font-weight: 500;
    color: inherit;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    min-width: 320px;
    min-height: 100vh;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    /* text-align: center; */
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
ul,
ol,
li {
    all: unset;
}
button {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid var(--clr-seconary);
    font-size: var(--fs-300);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}
button:active {
    transform: scale(0.95);
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
